HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/java/com/ouertani/notes/model/Commentbis.java
/src/main/java/com/ouertani/notes/repository/CommentbisRepository.java
/src/main/java/com/ouertani/notes/model/Notebis.java
/src/main/java/com/ouertani/notes/repository/NotebisRepository.java
/src/main/resources/static/Save
/src/main/resources/static/Draft
